<div class="login-container">
  <div class="logo-container vertical-center text-center ">
    <label>
      <h5 class="text-white">DAVIAN ASCANIO | WACO</h5>
      <h1 class="changing text-white">Atrapa un Pokémon ¡Encuentra a tú compañero!</h1>
    </label>
  </div>
  <div class=" vertical-center text-center bg-pokemon-red">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-6 offset-md-1 offset-lg-3">
          <form (keyup.enter)="sendLogin()">
            <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png" width="200">
            <h1 class="h3 mb-3 fw-normal">Inicio de sesión</h1>

            <div class="form-floating mt-2">
              <input type="email" [(ngModel)]="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Correo electronico</label>
            </div>
            <div class="form-floating  mt-2">
              <input type="password" [(ngModel)]="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Contraseña</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary mt-2" type="button" (click)="sendLogin()">Iniciar sesión</button>
            <div class="row pt-3">
              <div class="col-12 pt-0 mt-0 text-center">
                <span class=" text-center">{{errorText}}</span>
              </div>
            </div>
            <p class="mt-2 mb-3 text-muted text-white">
              <a id="forgot-password  text-white" routerLink="/signup">Crear Cuenta</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
